name: Build, test, pack and push to nuget on version update

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022
    timeout-minutes: 15
    env:
      DOTNET_NOLOGO: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_GENERATE_ASPNET_CERTIFICATE: 0
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      NUGET_CERT_REVOCATION_MODE: "offline"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
    
      - name: Setup msbuild
        uses: microsoft/setup-msbuild@v1.1

      - name: Restore nuget packages
        run: dotnet restore ExactOnline.Client.Sdk.sln

      - name: Build and pack solution
        run: msbuild ExactOnline.Client.Sdk.sln /t:pack /p:Configuration=Release

      - name: Run unit tests
        run: dotnet test test/ExactOnline.Client.Sdk.UnitTests/ --no-restore

      - name: Publish the package to nuget.org when we have a new version
        if: github.event_name != 'pull_request'
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.NUGET_AUTH_TOKEN }}
        run: |
          $version = (Select-Xml -Path .\src\Directory.Build.props -XPath /Project/PropertyGroup/Version).Node.InnerText
          $versions = (Invoke-WebRequest https://api.nuget.org/v3-flatcontainer/exactonline.client.sdk.vnext/index.json -UseBasicParsing | ConvertFrom-Json).versions
          if (-not($versions -contains $version)) {
            dotnet nuget push .\src\*.nupkg -k $env:NUGET_AUTH_TOKEN
          }
